body
{
    font: 20px "Courier New", Courier, monospace;
}
table.grid
{
    width: 100%;
    user-select: none;
    cursor: default;
    background: rgba(0, 0, 0, 0.1);
}
table.grid td,
table.grid th
{
    background: white;
}
table.grid td
{
    width: 18%;
    text-align: center;
    position: relative;
}
table.grid th,
table.grid td
{
    height: 25px;
}
table.grid th
{
    color: rgba(0, 0, 0, 0.7);
}
table.grid thead tr
{
    background: rgba(255, 127, 255, 0.3)
}
table.grid thead th
{
    padding: 20px;
}
table.grid tbody
{
    position: relative;
}
table.grid tbody th
{
    font-size: 16px;
    font-weight: normal;
}
table.grid tbody tr:nth-child(4n + 3) td,
table.grid tbody tr:nth-child(4n + 4) td,
table.grid tbody tr:nth-child(4n + 3) th,
table.grid tbody tr:nth-child(4n + 4) th
{
    background: rgba(255, 255, 255, 0.7);
}
table.grid tbody tr:nth-child(2n + 1) th
{
    font-weight: bold;
}
table.grid tbody tr td[aria-selected=true]
{
    background: rgba(0, 255, 255, 1);
}
table.grid td input
{
    font: inherit;
    background: transparent;
    border: 0;
    text-align: center;
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
table.grid td input:not[hidden]
{
    display: inline-block;
}
table.grid td:focus
{
    z-index: 1;
}
table.grid tbody tr.row td.gridcell[data-value]
{
    background: #ff0;
}
