html
{
    height: 100%;
}
body
{
    font: 20px "Courier New", Courier, monospace;
    margin: 0;
    height: 100%;
}
table.grid
{
    width: 100%;
    user-select: none;
    cursor: default;
    background: rgba(0, 0, 0, 0.1);
    height: 100%;
    position: relative;
}
table.grid td,
table.grid th
{
    background: white;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    height: 25px;
    font-size: 18px;
    padding: 0;
}
table.grid td
{
    text-align: center;
    position: relative;
    border: 2px solid transparent;
    box-sizing: border-box;
}
table.grid th
{
    color: rgba(0, 0, 0, 0.7);
}
table.grid thead tr th
{
    background: rgba(255, 255, 255, 0.5);
}
table.grid thead th
{
    padding: 7px;
}
table.grid tbody
{
    position: relative;
}
table.grid tbody th
{
    font-size: 16px;
    font-weight: normal;
}
table.grid tbody tr:nth-child(4n + 3) td,
table.grid tbody tr:nth-child(4n + 4) td,
table.grid tbody tr:nth-child(4n + 3) th,
table.grid tbody tr:nth-child(4n + 4) th
{
    background: rgba(255, 255, 255, 0.7);
}
table.grid tbody tr:nth-child(6n + 1) th,
table.grid tbody tr:nth-child(6n + 1) td
{
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}
table.grid tbody tr:nth-child(2n + 1) th
{
    font-weight: bold;
}
table.grid td input
{
    font: inherit;
    /*background: transparent;*/
    border: 0;
    text-align: center;
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
table.grid td input:not[hidden]
{
    display: inline-block;
}
table.grid td:focus
{
    z-index: 1;
    font-weight: bold;
}
table.grid tbody tr.row td.gridcell[data-value]
{
    background: #ff0;
    border: 2px solid #84f;
}
table.grid tbody tr.row td.gridcell[data-value]:not(:hover):not(:focus)
{
    opacity: 0.8;
}
table.grid tbody tr.row td.gridcell[aria-selected=true]
{
    background: rgba(255, 255, 187, 1);
}
table.grid tbody tr.row[aria-current=time] td,
table.grid tbody tr.row[aria-current=time] th
{
    background: rgba(127, 255, 255, 1);
}
table.grid tbody tr.row td.gridcell[aria-current=time]
{
    background: rgba(127, 255, 255, 1);
}
table.grid tbody tr.row td.gridcell.past
{
    background: rgba(0, 0, 0, 0.15);
}
table.grid tbody tr.row td.gridcell.past:not(:hover):not(:focus)
{
    opacity: 0.8;
}

table.grid thead tr.row th:first-child
{
    font-size: 15px;
}
